<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>About us -Shree guru kripa</title>
     <link rel="stylesheet" href="/static/base.css">
     <link rel="stylesheet" href="/static/styleAbout.css">
</head>
<body>
     <h1>
          Shree Guru Kripa
     </h1>
     <div class="container">
          <h2>About Us</h2>
          <div class="desc">
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis veritatis magni officia eaque laborum adipisci molestias laudantium vitae amet nobis! Odio quae soluta asperiores, at ut quisquam et exercitationem illo porro assumenda commodi praesentium.
          </div>
          
          <a href="/">Home</a>
     </div>

     <section id="footer">
          All rights reserved To &#169; Shree Guru Kripa Womens Saloon |since 2021
     </section>

</body>
</html>