<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home -Shree guru kripa</title>   
     <!-- Home -Shree guru kripa -->
     <link rel="stylesheet" href="/static/base.css">
     <link rel="stylesheet" href="/static/stylehome.css">
</head>
<body>
     <nav id="navbar">
          <ul>
               <div id="logo">
                    <img src="/static/images/mainlogo.png" alt="Logo" id="imgLogo">
                    Shree guru kripa
               </div>

               <li> <a href="/"> Home </a></li>
               <li> <a href="/about"> About us </a></li>
               <li> <a href="/login"> Login </a></li>
               <li> <a href="/contact"> Contact us </a></li>
               <li> <a href="/infoDownload"> Get details </a></li>
          </ul>
     </nav>

     <section id="introSection">
          <div id="welcome1"> Welcome To </div>
          <div id="welcome2">Shree guru kripa</div>
     </section>

     <section id="pricing">

          <h2>Best Affordable Price Range</h2>

          <div class="cardContainer">

               <div class="card leftCard">
                    <h4 id="leftH4Card">
                         Basic- Daily HealthCare
                    </h4>
                    <img src="/static/images/girl.jpg" alt="">

                    <div id="cardLeftMsg">
                         You will get all your daily routien premium services.
                    </div>
               </div>
               
               <div class="card middleCard">
                    <h4 id="middleH4Card">
                         Medium- Occasion
                    </h4>
                    <img src="/static/images/liquid.jpg" alt="">

                    <div id="cardMiddletMsg">
                         You will get all your premium services related to Normal Occations.
                    </div>

               </div>
               
               <div class="card rightCard">
                    <h4 id="rightH4Card">
                         Premium- Wedding Occasion
                    </h4>
                    <img src="/static/images/sunset.jpg" alt="">
                    <div id="cardRightMsg">
                         All premium services included with free message.
                    </div>

               </div>
               
          </div>
     </section>

     <section id="footer">
          All rights reserved To &#169; Shree Guru Kripa Womens Saloon |since 2021
     </section>
</body>
</html>